<html>
  <style>
    body{ 
      background-color: cornsilk;
      font-size: 15pt;
      font-family: fantasy;
    }
  </style>

	<p> </p>
	<center><h1>Welcome to KoolLib!</h1></center>


<body>

	<center><p><h3>You can find any book or library available in KoolLib's database here!</h3></p></center>

	<center><button><a href="book.html"> Search for Book</a><button></center>

	<p> </p>

	<center><button><a href="library.html"> Search for Library</a><button></center>

<!--
	<p>Click <button><a href="library.html"> this button</a><button> to see what libraries are available to search.</p>
-->



</body>


</html>
