<html>
  <style>
    body{ 
      background-color: azure;
      font-size: 15pt;
      font-family: arial;
    }
    /*table, th, td {
      border:1px solid black;
      background-color: white;
   }*/
  </style>

  <p> </p>
  <center><h1><span style="font-family: fantasy">Welcome to KoolLib!</span></h1></center>

<body>

	<center><p><h2><span style="font-family: fantasy">Invalid Input!</span></h2></p></center>
	<p> </p>
	<center><button><a href="/">Return Home</a></button></center>

</body>

</html>
