<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, th, td {
      border:1px solid black;
    }
  </style>


<body>

<form method="POST" action="/library_query">
	<p>Enter library name: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

  <h1>Search for a library?</h1>
  <table style="width:100%">
    <tr>
      <th>Library Name</th>
      <th>Address</th>
      <th>Hours</th>
      <th>Specialization</th>
      <th>Affiliation</th>
    </tr>
    {% for n in range(names|length) %}
    <tr>
      <td>{{names[n]}}</td>
      <td>{{addresses[n]}}</td>
      <td>{{hoursss[n]}}</td>
      <td>{{specializations[n]}}</td>
      <td>{{affiliations[n]}}</td>
    </tr>
    {% endfor %}
  </table>
<p><a href="another">Go to the other page</a></p>

</body>


</html>
